<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wujiangbo.mapper.system.EasySlf4jLoggingMapper">

    <delete id="deleteLog">
        delete from easy_slf4j_logging where log_time &lt;= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);
        delete from easy_login_log where login_time &lt;= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);
        delete from easy_oper_log where oper_time &lt;= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);
    </delete>

    <select id="selectMySqlPage" resultType="cn.wujiangbo.domain.system.EasySlf4jLogging">
        select
        t1.*
        from easy_slf4j_logging t1
        <where>
            <if test="query.trackId != null and query.trackId != '' ">
                and t1.track_id like CONCAT('%', #{query.trackId}, '%')
            </if>
            <if test="query.className != null and query.className != '' ">
                and t1.log_class like CONCAT('%', #{query.className}, '%')
            </if>
            <if test="query.logLevel != null and query.logLevel != '' ">
                and t1.log_level = #{query.logLevel}
            </if>
            <if test="query.beginTime != null and query.beginTime != '' ">
                and t1.log_time &gt;= #{query.beginTime}
            </if>
            <if test="query.endTime != null and query.endTime != '' ">
                and t1.log_time &lt;= #{query.endTime}
            </if>
        </where>
        order by t1.log_time desc
    </select>
</mapper>